{% extends('content.html.twig') %}

{% block content %}
    <h1 class="text-center">
        О нас
    </h1>
    <p class="text-center">
        <img src="{{ asset('img/about.jpg') }}" alt="">
    </p>
    <p>
        Узнавайка - новый интернет портал для обучения детей дошкольного возраста. Система помогает педагогам, детям и их
        родителям получить легкий и удобный доступ к информационной библиотеке и способам саморазвития и самотестирования
        в увлекательной форме, предоставляя для этого дружелюбный интерфейс.
    </p>
    <p>
        Наши педагоги не только создают задания по уровню, но и вовлекают в игру, заинтересовывают в учебе и следят за
        нагрузкой, чтобы всегда были силы и энергия на занятия.
    </p>
{% endblock %}