###> phpstorm ###
.idea
.idea/workspace.xml
.idea/php.xml
.idea/dataSources.local.xml
.idea/dataSources.xml
.idea/vcs.xml
.idea/modules.xml
.idea/hosp.iml
*.iws
###< phpstorm ###

###> app/upload ###
/public/upload
###< app/upload ###

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###
