{% extends('wideform.html.twig') %}

{% block beforeform %}
    <img src="{{ asset(image) }}" width="100" height="100" class="align-center mb-2" alt="">
    <h2 class="fw-bold">
        {{ title }}
    </h2>
{% endblock %}

{% block form %}
    {{ form(form) }}
{% endblock %}